Improve parser error for Byte order mark (BOM)

A `security.txt` file with a [Byte order mark (BOM)](https://en.wikipedia.org/wiki/Byte_order_mark) is currently done correctly, but confusing for the user.
E.g. an unsigned sectxt will result in:
```python
[
  {
    'code': 'invalid_line',
    'message': 'Line must contain a field name and value, unless the line is blank or contains a comment.',
    'line': 1
  }
]
```
and a signed message with BOM will result in the same result as #41, since it's checked with:
https://github.com/DigitalTrustCenter/sectxt/blob/79bb38634f2d3c5bed28cce4b47edb98bcd44948/sectxt/__init__.py#L139-L146
so `_signed` won't be set to `True`, because the BOM prefix, which will result in #41 behavior that it errors about every armored line.

Because a BOM is not visible in a text editor, and most of the time it's added without the user explicitly requesting this, it would help hinting to this with an improved error.

I'm not sure about is the stripping of the BOM is in line with the [RFC 9116 - File Format Description and ABNF Grammar](https://www.rfc-editor.org/rfc/rfc9116.html#name-file-format-description-and):
> The file format of the "security.txt" file MUST be plain text (MIME type "text/plain") as defined in [Section 4.1.3](https://www.rfc-editor.org/rfc/rfc2046#section-4.1.3) of [[RFC2046](https://www.rfc-editor.org/rfc/rfc9116.html#RFC2046)] and MUST be encoded using UTF-8 [[RFC3629](https://www.rfc-editor.org/rfc/rfc9116.html#RFC3629)] in Net-Unicode form [[RFC5198](https://www.rfc-editor.org/rfc/rfc9116.html#RFC5198)].

[RFC 5198](https://www.rfc-editor.org/rfc/inline-errata/rfc5198.html) states:
> 2. Net-Unicode Definition
> The Network Unicode format (Net-Unicode) is defined as follows. Parts of this definition are deliberately informal, providing guidance for specific profiles or rules in the protocols that reference this one rather than firm rules that apply globally.
> …
>     5.  As suggested in Section 6 of RFC 3629, the Byte Order Mark ("BOM") signature MUST NOT appear at the beginning of these text strings.

So I think the BOM should be stripped, but it should also trigger an error or at least warning. Especially in combination with signing it's not nice to have a BOM, although it's _outside_ of the PGP block, a file with BOM is no longer recognized with `file` in Linux as a PGP signed file.

Agreed that the underlying issue should be highlighted when the file has the BOM present. Will reopen the issue.

With the new release an error message has been added. If the byte order mark is present in the file it will continue to process the file without the BOM, but it will add an error to highlight that the file has the BOM present. This will mean that the security.txt is not valid if it has a BOM in the file.