NFC is not enforced / checked

Example sextxt:
```none
# Hallå!
Contact: https://example.org
Expires: 2024-12-31T23:59:59Z
Canonical: https://example.org/.well-known/security.txt
```
Make sure it is in NFD (which is wrong):
```bash
$ cat sectxt-plain | uconv -x any-nfd > sectxt-plain-nfd
```
This is not detected
```none
Python 3.11.2 (main, Sep 14 2024, 03:00:30) [GCC 12.2.0] on linux
Type "help", "copyright", "credits" or "license" for more information.
>>> from sectxt import Parser
>>> p = Parser(open("sectxt-plain-nfd","rb").read(65000))
>>> p.is_valid()
True
>>> p.errors
[]
>>> p.recommendations
[{'code': 'not_signed', 'message': 'security.txt should be digitally signed.', 'line': None}]
>>> p.notifications
[]
```

Thanks for reporting the issue. 
It is not clear to us why NFC should be enforced. In the RFC they only mention that the encoding should be UTF-8 and both in NFD and NFC they are valid UTF-8 encodings.
Could you clarify why NFC should be enforced?

[RFC 9116 - A File Format to Aid in Security Vulnerability Disclosure - § 4. File Format Description and ABNF Grammar](https://datatracker.ietf.org/doc/html/rfc9116#name-file-format-description-and):
> The file format of the "security.txt" file MUST be plain text (MIME type "text/plain") as defined in [Section 4.1.3](https://www.rfc-editor.org/rfc/rfc2046#section-4.1.3) of [[RFC2046](https://datatracker.ietf.org/doc/html/rfc2046)] and MUST be encoded using UTF-8 [[RFC3629](https://datatracker.ietf.org/doc/html/rfc3629)] in Net-Unicode form [[RFC5198](https://datatracker.ietf.org/doc/html/rfc5198)].

[RFC5198 - Unicode Format for Network Interchange - § 2 Net-Unicode Definition](https://datatracker.ietf.org/doc/html/rfc5198#page-4):
> 4.  Before transmission, all character sequences SHOULD be normalized
       according to Unicode normalization form "NFC" (see [Section 3](https://datatracker.ietf.org/doc/html/rfc5198#section-3)).
>   5.  As suggested in [Section 6 of RFC 3629](https://datatracker.ietf.org/doc/html/rfc3629#section-6), the Byte Order Mark
       ("BOM") signature MUST NOT appear at the beginning of these text
       strings.
>   6.  Systems conforming to this specification MUST NOT transmit any
       string containing any code point that is unassigned in the
       version of Unicode on which they are dependent.  The version of
       NFC and the version of Unicode used by that system MUST be
       consistent.

Which is also noted by:
https://github.com/DigitalTrustCenter/sectxt/blob/0f06db1f47f033df1f2fdc4bd5e0bfb25cced08c/sectxt/__init__.py#L385